*{ 
    padding: 0;
    margin: 0;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

.box {
    height: 250px;
    width: 250px;
    border: 2px solid black;
}